[user]
	name = sasa cocic
	email = cocicsasa@gmail.com
[credential]
	helper = store
[alias]
	co = checkout
	cb = checkout -b
	p = push
	s = status
	pf = push --force-with-lease
[core]
        editor = vim
